/******** live class screen ********/



.z--1 {
    z-index: -1;
}

.live_class_screen {
    overflow-x: hidden;
    background: var(--loading-grey);
    width: 100%;
    height: 100vh;

    .lv_circle_half_yellow {
        width: 9vw;
        height: 9vw;
        border-radius: 50%;
        background: var(--color-yellow);
        top: 110px;
        left: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .lv_circle_half_light_blue {
        width: 9vw;
        height: 9vw;
        border-radius: 50%;
        background: var(--color-light-blue);
        top: 10vw;
        right: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }

    .lv_close_outline {
        left: 16vw;
        top: 12.5vw;
        width: 3vw;
    }

    .lv_circle_repeat {
        left: 40%;
        bottom: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        width: 12vw;
    }

    .lv_dotted_white {
        left: 0;
        bottom: 12vw;
        width: 8vw;
    }

    .lv_dotted_circle {
        left: 20vw;
        bottom: 16vw;
        width: 9vw;
    }

    .lv_plus_shape {
        left: 129px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 2.5vw;
    }

    .lv_yellow_dotted {
        right: 160px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 8vw;
    }

    .lv_cube_shape {
        right: 6vw;
        bottom: 2vw;
        width: 6vw;
    }

    .lv_close_sm {
        right: 40%;
        bottom: 8vw;
    }

    .lv_circle_sm {
        right: 30%;
        top: 60%;
        width: 24px;
        height: 24px;
        border: 1px solid #ACEED6;
        border-radius: 50%;
    }

    .lv_square_sm {
        width: 20px;
        height: 20px;
        border: 1px solid var(--color-yellow);
        right: 80px;
        top: 60%;
    }
}

.loading {
    position: relative;

    &:after {
        content: '';
        background: #dddddd;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        opacity: 1;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        height: 100%;
        background-image: -webkit-linear-gradient(left, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.6) 40%, rgba(#fff, 0));
        background-image: linear-gradient(90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.6) 40%, rgba(#fff, 0));
        z-index: 1000;
        opacity: 1;
        -webkit-animation: shimmer 1.3s infinite;
        animation: shimmer 1.3s infinite;
    }

    &.off {

        &:before,
        &:after {
            opacity: 0;
        }
    }

    &.hide_element {

        &:before,
        &:after {
            display: none;
        }
    }

}

.hub_component {
    background: var(--color-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0;
    padding-right: 12px;
    overflow: hidden;

    .hbfonts-light-bulb {
        width: 90px;
        padding: 10px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        font-size: 63px;
        color: var(--heading-color);
        -webkit-transition: 0.3s;
        transition: 0.3s;

        &:focus {
            color: var(--color-yellow);
        }
    }

    .hb_objective_content {
        background: #353540;
        padding: 8px 16px 13px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        gap: 48px;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        h3 {
            font-size: 1.45vw;
            color: var(--color-white);
            font-family: var(--primary-font);
            font-weight: 600;
            margin-bottom: 0;

            mark {
                padding: 0;
                background: transparent;
                color: var(--color-yellow);
            }
        }

        p {
            color: var(--color-white);
            font-size: 0.9vw;
        }
    }

    &.state-1 {
        .hb_objective_content {

            h3,
            p,
            .hb_object_checkbox {
                opacity: 0;
            }
        }

        .hb_object_time {

            div,
            p {
                opacity: 0;
            }
        }
    }
}

.hb_object_checkbox {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);

    label {
        font-size: 14px;
        color: #D9D9D9;
        font-family: var(--primary-font);
        font-weight: 400;
        letter-spacing: 0.28px;
        text-align: center;

        span {
            width: 44px;
            height: 44px;
            border: 1px solid var(--primary-color);
            background: transparent;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: var(--color-white);
            border-radius: 4px;
            margin-left: -4px;
            -webkit-transition: 0.1s;
            transition: 0.1s;
            margin-bottom: 4px;

            svg {
                path {
                    stroke: transparent;
                    -webkit-transition: 0.1s;
                    transition: 0.1s;
                }
            }
        }

        input {
            opacity: 0;
            width: 0;

            &:checked {
                ~span {
                    background: var(--primary-color);

                    svg {
                        path {
                            stroke: var(--color-white);
                        }
                    }
                }
            }
        }
    }
}

.hb_object_time {
    padding: 0 3vw 0 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: end;
    align-self: end;
    padding-bottom: 0;
    position: relative;
    min-width: 300px;

    .hub_countdown {
        min-width: 140px;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 9px;
        width: 1px;
        height: calc(100% - 18px);
        background: #D4D4D4;
    }

    .clock_icon {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 99px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 6px 10px 7px;
        margin-right: 4px;

        img {
            width: 66px;
            padding: 0;
        }
    }

    &>p {
        font-size: 18px;
        margin-top: 2px;
    }
}

.hub_countdown {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        font-size: 2.5vw;
        color: var(--heading-color);
        font-family: var(--primary-font);
        font-weight: 600;
        line-height: 0.83em;

    }
}

.hb_lesson_time {
    padding: 16px 2vw 13px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: end;
    align-self: end;
    position: relative;
    margin-right: 13px;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 9px;
        width: 1px;
        height: calc(100% - 18px);
        background: #D4D4D4;
    }

    .clock_icon {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-top: -1px;
    }

    .hub_countdown {
        li {
            font-size: 1.5vw;
        }
    }

    &>p {
        font-size: 18px;
        margin-top: 10px;
    }
}

.hb_close {
    width: 2vw;
    height: 2vw;
    background: var(--heading-color);
    color: var(--color-white);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: center;
    align-self: center;
    border: 0;
    left: .5px;

    i {
        font-size: 13px;
    }

    &:focus {
        background: var(--color-red);

        i {
            color: var(--color-white);
        }
    }
}

.logo_wrapper {
    a {
        width: 20vw;
        display: inline-block;
    }
}

.lv_slide_single {
    text-align: center;

    .lv_animated_icon {
        width: 200px;
        overflow: hidden;
        display: inline-block;
        background: var(--color-white);
        text-align: center;

        img {
            display: inline-block;
            width: 100px;
        }
    }

    h2 {
        font-size: 2.5vw;
        color: var(--color-yellow);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 3vw;
    }

    &>p {
        font-size: 2.5vw;
        color: var(--color-white);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 0.5vw;
        font-family: var(--primary-font);
        font-weight: 600;
    }

    h1 {
        font-size: 4vw;
        color: var(--color-white);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 0;
    }

}


.lv_state_2_content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    h2 {
        font-size: 2.5vw;
        color: var(--color-white);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 3vw;
    }

    .lv_join_btn {
        padding: 12px 7.5vw;
        display: inline-block;
        font-size: 1.5vw;
        font-weight: 600;
        color: var(--color-white);
        border-radius: 20px;
        text-align: center;
        background: var(--btn-color);
        text-decoration: none;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        &:hover {
            background: var(--heading-color);
        }
    }

}

// Timer Progress 
$frameColor: slategrey;
$buttonColor: slategrey;
$ringColor: var(--color-black);
$progressColor: #3822F1;
$lapTime: var(--lapTime);
$infiniteLoop: true;
$size: 62px;


#stopwatch {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    width: $size;
    height: $size;

    .switch {
        position: absolute;
        left: (0.38*$size);
        width: (0.24*$size);
        height: (0.10*$size);
        background-color: $buttonColor;
        -webkit-animation: pressure $lapTime ease-out;
        animation: pressure $lapTime ease-out;

        @if $infiniteLoop==true {
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }

        box-shadow: 0 0 (0.02*$size) 0 $ringColor;
    }

    .ring {
        position: absolute;
        top: 7.52px;
        left: 6.3px;
        border: 4.5px solid $ringColor;
        width: (0.79*$size);
        height: (0.79*$size);
        border-radius: 50%;
        z-index: 500;
        box-shadow: inset 0 0 (0.03*$size) 0 $ringColor;
    }

    .pie {
        position: absolute;
        left: (0.05*$size);
        top: (0.07*$size);
        width: (0.90*$size);
        height: (0.90*$size);
        border-radius: 50%;
        border: 7px solid $frameColor;
        box-shadow: 0 0 (0.03*$size) 0 $ringColor;
    }

    .pie:before {
        content: '';
        display: block;
        margin-left: 50%;
        height: 100%;
        border-radius: 0 100% 100% 0 / 50%;
        -webkit-transform-origin: left;
        transform-origin: left;
    }

    .pie1 {
        z-index: 10;
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
        background-image: -webkit-linear-gradient(right, transprent 50%, $progressColor 0);
        background-image: linear-gradient(to left, transprent 50%, $progressColor 0);
    }

    .pie1:before {
        background-color: $ringColor;
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
        -webkit-animation: spin1 calc($lapTime/2) linear;
        animation: spin1 calc($lapTime/2) linear;

        @if $infiniteLoop==true {
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
    }

    .pie2 {
        z-index: 0;
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
        background-image: -webkit-linear-gradient(right, transparent 50%, $ringColor 0);
        background-image: linear-gradient(to left, transparent 50%, $ringColor 0);
        -webkit-animation: altitude $lapTime step-end, temperature $lapTime linear;
        animation: altitude $lapTime step-end, temperature $lapTime linear;

        @if $infiniteLoop==true {
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
    }

    .pie2:before {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
        -webkit-animation: spin2 calc($lapTime / 2) linear infinite, temperature $lapTime linear;
        animation: spin2 calc($lapTime / 2) linear infinite, temperature $lapTime linear;

        @if $infiniteLoop==true {
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
    }

    @-webkit-keyframes spin1 {
        0% {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
        }

        100% {
            -webkit-transform: rotate(1.5turn);
            transform: rotate(1.5turn);
        }
    }

    @keyframes spin1 {
        0% {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
        }

        100% {
            -webkit-transform: rotate(1.5turn);
            transform: rotate(1.5turn);
        }
    }

    @-webkit-keyframes spin2 {
        0% {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
        }

        100% {
            -webkit-transform: rotate(1.5turn);
            transform: rotate(1.5turn);
        }
    }

    @keyframes spin2 {
        0% {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
        }

        100% {
            -webkit-transform: rotate(1.5turn);
            transform: rotate(1.5turn);
        }
    }

    @-webkit-keyframes altitude {
        50% {
            z-index: 10
        }
    }

    @keyframes altitude {
        50% {
            z-index: 10
        }
    }

    @-webkit-keyframes temperature {
        0% {
            background-color: $progressColor;
        }

        100% {
            background-color: $progressColor;
        }
    }

    @keyframes temperature {
        0% {
            background-color: $progressColor;
        }

        100% {
            background-color: $progressColor;
        }
    }

    @-webkit-keyframes pressure {
        0% {
            top: 0px;
        }

        2% {
            top: (0.05*$size);
        }

        4% {
            top: 0px;
        }
    }

    @keyframes pressure {
        0% {
            top: 0px;
        }

        2% {
            top: (0.05*$size);
        }

        4% {
            top: 0px;
        }
    }
}


/* responsive styles */

@media (max-width: 1600px) {
    .hub_component {

        .hbfonts-light-bulb {
            width: 70px;
            padding: 12px;
            height: 62px;
            font-size: 30px;
        }

        .hb_objective_content {
            padding: 10px 12px 4px;
            align-items: center;

            h3 {
                font-size: 1.4vw;
            }

            p {
                font-size: 0.9vw;
                width: 38vw;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

    }

    .hb_close {
        width: 1.8vw;
        height: 1.8vw;

        i {
            font-size: 11px;
        }
    }

    .hb_object_checkbox label {
        font-size: 12px;
    }

    .hb_object_checkbox label span {
        width: 32px;
        height: 32px;
    }

    .hb_object_checkbox label span svg {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    .hb_lesson_time .hub_countdown li {
        font-size: 1.25vw;
    }

    .hb_lesson_time .clock_icon {
        svg {
            width: 20px;
        }
    }

    .hub_countdown li {
        font-size: 1.7vw;
    }

    .hb_object_time {

        min-width: 220px;
        padding: 0 2vw 0 0;

        .hub_countdown {
            min-width: 75px;
            margin-top: 5px;
        }

        .clock_icon {
            width: 62px;
            padding: 14px 8px 11px 8px;

            img {
                width: 36px;
            }
        }
    }

    .hb_object_time>p {
        font-size: 16px;
    }

    .hb_lesson_time>p {
        font-size: 14px;
        margin-top: 0;
    }

    .hb_lesson_time {
        padding: 14px 2vw 9px;
    }

    .hb_object_checkbox {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    .hb_object_timer p {
        font-size: 14px;
    }

    // stopWatch 
    $size: 44px;

    #stopwatch {
        margin: 0;
        width: $size;
        height: $size;

        .switch {
            position: absolute;
            left: (0.38*$size);
            width: (0.24*$size);
            height: (0.10*$size);
            background-color: $buttonColor;
            -webkit-animation: pressure $lapTime ease-out;
            animation: pressure $lapTime ease-out;

            @if $infiniteLoop==true {
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }

            box-shadow: 0 0 (0.02*$size) 0 $ringColor;
        }

        .ring {
            position: absolute;
            top: 5.53px;
            left: 4.6px;
            border: 3px solid $ringColor;
            width: (0.79*$size);
            height: (0.79*$size);
            box-shadow: inset 0 0 (0.03*$size) 0 $ringColor;
        }

        .pie {
            position: absolute;
            left: (0.05*$size);
            top: (0.07*$size);
            width: (0.90*$size);
            height: (0.90*$size);
            border-radius: 50%;
            border: 5.5px solid $frameColor;
            box-shadow: 0 0 (0.03*$size) 0 $ringColor;
        }

        @-webkit-keyframes pressure {
            0% {
                top: 0px;
            }

            2% {
                top: (0.05*$size);
            }

            4% {
                top: 0px;
            }
        }

        @keyframes pressure {
            0% {
                top: 0px;
            }

            2% {
                top: (0.05*$size);
            }

            4% {
                top: 0px;
            }
        }
    }

}

@media (min-width: 2000px) {

    .hb_object_time {
        min-width: 335px;
    }

    .hub_countdown li {
        font-size: 50px;
    }

    .hb_lesson_time .hub_countdown li {
        font-size: 30px;
    }

    .hb_close {
        width: 40px;
        height: 40px;
    }

    .hub_component .hb_objective_content h3 {
        font-size: 28px;
    }

    .hub_component .hb_objective_content p {
        font-size: 18px;
    }
}

@media(max-width: 1366px) {
    .hub_component {
        .hbfonts-light-bulb {
            width: 64px;
        }
    }

    .hb_lesson_time .hub_countdown li {
        font-size: 1.5vw;
    }

    .hub_countdown li {
        font-size: 1.9vw;
    }

    #stopwatch {
        .pie {
            border: 5px solid slategrey;
        }
    }

    .hb_close {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 10px;
        }
    }
}

@media(max-width: 1199px) {
    .hub_component {
        .hb_objective_content h3 {
            font-size: 2.3vw;
        }

        .hb_objective_content p {
            font-size: 14px;
        }

        .hb_object_time {
            min-width: 195px;
        }
    }
}

@media(max-width: 991px) {
    .hb_object_timer {
        display: none;
    }

    .hub_component {
        .hb_object_time {
            min-width: unset;
            padding: 0;
        }

        .hb_objective_content h3 {
            font-size: 2.6vw;
        }

        .hb_objective_content p {
            width: 44vw;
        }
    }

    // stopWatch 
    $size: 40px;

    #stopwatch {
        margin: 0;
        width: $size;
        height: $size;

        .switch {
            position: absolute;
            left: (0.38*$size);
            width: (0.24*$size);
            height: (0.10*$size);
            background-color: $buttonColor;
            -webkit-animation: pressure $lapTime ease-out;
            animation: pressure $lapTime ease-out;

            @if $infiniteLoop==true {
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }

            box-shadow: 0 0 (0.02*$size) 0 $ringColor;
        }

        .ring {
            position: absolute;
            top: 5.53px;
            left: 4.6px;
            border: 3px solid $ringColor;
            width: (0.77*$size);
            height: (0.77*$size);
            box-shadow: inset 0 0 (0.03*$size) 0 $ringColor;
        }

        .pie {
            position: absolute;
            left: (0.05*$size);
            top: (0.07*$size);
            width: (0.90*$size);
            height: (0.90*$size);
            border-radius: 50%;
            border: 5.5px solid $frameColor;
            box-shadow: 0 0 (0.03*$size) 0 $ringColor;
        }

        @-webkit-keyframes pressure {
            0% {
                top: 0px;
            }

            2% {
                top: (0.05*$size);
            }

            4% {
                top: 0px;
            }
        }

        @keyframes pressure {
            0% {
                top: 0px;
            }

            2% {
                top: (0.05*$size);
            }

            4% {
                top: 0px;
            }
        }
    }

    .hb_object_time .clock_icon {
        width: 58px;
        padding: 16px 8px 14px 8px;
        margin: 0;
    }

    .hb_lesson_time .hub_countdown li {
        font-size: 20px;
    }
}

@media(max-width: 767px) {
    .hub_component {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 0;

        .hb_objective_content {
            width: calc(100% - 60px);
            padding: 5px 10px 5px;
        }

        .hb_objective_content h3 {
            font-size: 5vw;
        }

        .hb_objective_content p {
            display: none;
        }

        .hbfonts-light-bulb {
            width: 60px;
        }
    }
    .hb_object_time .clock_icon {
        width: 60px;
        padding: 13px 10px 13px 8px;
    }

    .hb_object_checkbox {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    .hb_lesson_time {
        padding: 12px 3vw 8px;
        min-width: 70vw;
        text-align: center;
    }
    .hb_lesson_time > div{
        justify-content: center;
    }
    .hb_close{
        margin-right: 12px;
    }

}
@media(max-width: 399px){
    
    .hb_lesson_time {
        min-width: 65vw;
    }
}


@-webkit-keyframes shimmer {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}


@keyframes shimmer {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}