/** colors variables **/
:root {
    --primary-color: #4F73FB;
    --color-white: #ffffff;
    --color-yellow: #FBF239;
    --color-red: #D70000;
    --color-black: #000000;
    --color-light-blue: #ACEED6;
    --heading-color: #342E59;
    --btn-color: #25FE5B;
    --loading-grey: #ededed; 
    --primary-font: "Poppins", system-ui;
  }