@font-face {
    font-family: 'HbFonts';
    src:  url('../fonts/HbFonts.eot?5gxfp3');
    src:  url('../fonts/HbFonts.eot?5gxfp3#iefix') format('embedded-opentype'),
      url('../fonts/HbFonts.ttf?5gxfp3') format('truetype'),
      url('../fonts/HbFonts.woff?5gxfp3') format('woff'),
      url('../fonts/HbFonts.svg?5gxfp3#HbFonts') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="hbfonts-"], [class*=" hbfonts-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'HbFonts' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .hbfonts-light-bulb:before {
    content: "\e900";
  }
  .hbfonts-times:before {
    content: "\e901";
  }
  